<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>

<body>
    <table style="width:100%">
        <tr>
            <th>Company Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Primary Contact First Name</th>
            <th>Primary Contact Last Name</th>
        </tr>
        <tr *ngFor="let c of companies">
          <td><input [(ngModelf)]="c.name")} placeholder="c.name"/></td>
          <td><input [(ngModelf)]="c.primary_phone")} placeholder="c.primary_phone"/></td>
          <td><input [(ngModelf)]="c.primary_email")} placeholder="c.primary_email"/></td>
          <td><input [(ngModelf)]="c.contact_first_name")} placeholder="c.contact_first_name"/></td>
          <td><input [(ngModelf)]="c.contact_last_name")} placeholder="c.contact_last_name"/></td>
        </tr>
      </table>
      <button>save</button>


</body>
</html>