<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<!--Slimed down the tables so they only have 1 collomn each, one for Clients and one for companies.
No idea if the rows work, need to be tested-->
<body>
 <table style="width:100%">
    <tr>
      <th>Clients</th>
    </tr>
    <tr *ngFor="let c of clients">
      <td><button (click)="goToEdit(True)">{{c.first_name}}</button> </td>
    </tr>
  </table>
  
  <table style="width:100%">
    <tr>
      <th>Companies</th> 
    </tr>
    <tr *ngFor="let c of companies">
      <td><button (click)="goToEdit(False)">{{c.name}}</button> </td>
    </tr>
  </table>
<p>Welcome {{user.logintype}} {{user.username}}</p>

</body>
</html>


