<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="main-screen.component.css">
</head>


<body>
  <header style="justify-content: center; display: flex">
    <table style="width: 100pc;">
      <tr>
        <td style="float: left;width: 30pc;"><img src="../../assets/img/boh-logo.png" width="231" height="100" style="float:left;"></td>
        <td><h1 style="justify-content: center; width: 40pc; vertical-align:top;">Admin Home</h1></td>
        <td style="float: right; ">
          <table style="width: 30pc; border:0;">
            <tr style="height: 75px;margin: 2px;padding:2px;">
              <td style="float: right;padding:2px;"><img src="../../assets/img/empty-profile-photo.png" width="75" height="75" style="float:right;"></td>
            </tr>
            <tr style="height: 30px;margin: 2px; padding:2px;">
              <td style="padding:2px;"><h2 style="font-size:small; color: #2a3990; text-align: right; font-size: 30">{{user.username}}</h2></td>
            </tr>
            <tr style="height: 50px;margin: 2px; padding:2px;">
              <td style="padding:2px;"><button (click)="this.loginService.resetLogin();" style="width:100px; float: right; vertical-align: top; text-align: center;">Logout</button></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </header>

  <section>
    
    <div style="justify-content:center; display:flex;">
      <table style="width: 100pc;justify-content: center;">
        <tr>
          <td style="vertical-align: top;width: 40pc;">
            <div style="justify-content:left; display:flex">
              <input type="text" (keyup) = "searchClients($event.target.value)" placeholder = "Search For Clients">
            </div>
            <table width="100%" >
              <tr>
                <th>Clients</th>
                <td><button [routerLink]="['/addclient']" style="width:5pc;">+</button></td>
              </tr>
              <tr *ngFor="let c of clients">
                <td><button [routerLink]="['/editclient', c.id]">{{c.first_name}} {{c.last_name}}</button></td>
              </tr>
            </table>
          </td>
          <td style="vertical-align:top;width: 40pc;">
            <div style="justify-content:right; display:flex">
              <input type="text" (keyup) = "searchCompanies($event.target.value)" placeholder = "Search For Companies">
            </div>
            <table width="100%">
              <tr>
                <th>Companies</th>
              </tr>
              <tr *ngFor="let c of companies">
                <td><button [routerLink]="['/editcompany', c.id]">{{c.name}}</button> </td>
              </tr>
            </table>
          </td>
          
        </tr>
      </table>
    </div>  
  </section>






</body>

</html>


